.section {
  padding: 120px 0;
}

.head {
  position: relative;
}

.headArrows {
  position: absolute;
  left: 0;
  right: 0;
  top: 34px;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .section {
    padding: 72px 0;
  }
}
